name: ROS 2 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup ROS 2 Humble
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Install Dependencies
        run: |
          sudo apt update
          rosdep update
          rosdep install --from-paths src --ignore-src -y

      - name: Colcon Build
        run: |
          source /opt/ros/humble/setup.bash
          colcon build --symlink-install